body {
  background: linear-gradient(
    to right,
    rgb(231, 87, 231),
    rgb(78, 240, 78),
    rgb(221, 221, 59),
    rgb(230, 164, 42),
    rgb(90, 90, 209),
    rgb(176, 91, 236),
    rgb(207, 44, 44)
  );
}
.box {
  background: white;

  height: 40vh;
}
.cont {
  background: white;
}

.mg {
  background-image: url("https://png.pngtree.com/background/20221227/original/pngtree-acid-e-commerce-simple-wind-background-picture-image_1990358.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* background-position: center; */
}
